ul {
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-size: 16px;
}

#bandUl {
  text-align: left;
}

#bandLiDiv {
  display: flex;
}

#bandColumnH1 {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  gap: 13%;
}

#titleAndSearchDiv {
  position: relative;
}

#titleAndSearchDiv h1 {
    width: 100%;
}

#headerDiv {
  position: relative
}

.bandParentDiv {
  display: flex;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}

.bandLiDiv {
  width: 9px;
}

.bandLi {
  padding-left: 7px;
}

.bandLi a {
  height: 38px;
  display: flex;
  align-items: center;
}