ul {
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-size: 16px;
}

#bandUl {
  text-align: left;
}

#bandLiDiv {
  display: flex;
}

#bandColumnH1 {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  gap: 13%;
}

#titleAndSearchDiv {
  position: relative;
}

#titleAndSearchDiv h1 {
    width: 100%;
}

#headerDiv {
  position: relative
}

.bandParentDiv {
  display: flex;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}

.bandLiDiv {
  width: 3%;
  /* background: "linear-gradient(to right, #615b5b, #615b5b)";
  background-size: "0 100%";
  background-repeat: "no-repeat";
  transition: "background-size 0.15s linear", */
}

.bandLi {
  padding-left: 7px;
}

.bandLi a {
  height: 38px;
  display: flex;
  align-items: center;
}

#featured, #bands {
  --tw-bg-opacity: 1;
    background-color: rgb(240 239 244 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    font-size: .85rem;
    line-height: 1rem;
    padding: 0.35rem;
    vertical-align: middle;
}

.search:focus-within #featured {
  display: none;
}