:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a:hover {
  color: #3758ea;
  cursor: pointer;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2,
p {
  margin: 0;
}

aside {
  flex: 1;
  padding: 0 16px;
}

aside h1 {
  text-align: center;
  font-weight: 400;
  background-color: rgb(39 155 188);
  font-size: 20px;
  padding: 4px;
  margin: 0;
  color: rgb(255 255 255);
}

aside ul {
  overflow: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 86.5vh;
}

li {
  list-style: none;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 7px 0px 7px 4px;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.15s;
}
button:hover {
  border-color: #181c2f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: rgb(13, 96, 119);
  }
  button {
    background-color: #f9f9f9;
  }
}
