:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a:hover {
  color: #3758ea;
  cursor: pointer;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2,
p {
  margin: 0;
}

aside {
  flex: 1;
  padding: 0 16px;
}

aside h1 {
  text-align: center;
  font-weight: 400;
  background-color: rgb(39 155 188);
  font-size: 20px;
  padding: 4px;
  margin: 0;
  color: rgb(255 255 255);
}

aside ul {
  overflow: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 86.5vh;
}

li {
  list-style: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.15s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: rgb(13, 96, 119);
  }
}

@media (min-height: 650px) {
  #dataContainer ul {
    height: 85vh;
  }
}
@media (min-height: 675px) {
  #dataContainer ul {
    height: 85.4vh;
  }
}
@media (min-height: 690px) {
  #dataContainer ul {
    height: 85.7vh;
  }
}
@media (min-height: 701px) {
  #dataContainer ul {
    height: 85.9vh;
  }
}
@media (min-height: 729px) {
  #dataContainer ul {
    height: 86.5vh;
  }
}
@media (min-height: 755px) {
  #dataContainer ul {
    height: 86.9vh;
  }
}
@media (min-height: 800px) {
  #dataContainer ul {
    height: 87.5vh;
  }
}

@media (min-height: 850px) {
  #dataContainer ul {
    height: 88.43vh;
  }
}
@media (min-height: 900px) {
  #dataContainer ul {
    height: 89vh;
  }
}

@media (min-height: 956px) {
  #dataContainer ul {
    height: 89.7vh;
  }
}
@media (min-height: 966px) {
  #dataContainer ul {
    height: 89.8vh;
  }
}
@media (min-height: 976px) {
  #dataContainer ul {
    height: 89.9vh;
  }
}
